/* .create-a-spt-btn {
    color: rgb(214, 183, 183);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.create-a-spt-btn:hover  {
    color: rgb(177, 142, 142);
} */
