.my-spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.your-spots-header {
    text-align: center;
    color: rgb(177, 142, 142);
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}

.footer-text {
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 9pt;
    color: rgb(202, 167, 167);
    padding-top: 60px;
    padding-bottom: 5px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
}

.made-by-div {
    display: flex;
    justify-content: center;
    margin-right: 2px;
}

.made-by-div:hover button {
    color: rgb(145, 91, 91);
}

.made-by {
    color: rgb(177, 142, 142);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 2px;
}

.code-div {
    display: flex;
    justify-content: center;
}

.code-div:hover button {
    color: rgb(145, 91, 91);
}

.code {
    color: rgb(177, 142, 142);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 2px;
}

.code-dropdown {
    color: rgb(202, 167, 167);
    font-family: Arial;
    font-size: 9pt;
    width: 400px; 
    height: 30px;
    display: block;
    left: 35%;
    position: absolute;
    padding: 1pt 5pt;
    margin: 2px;
    text-align: center;
    gap: 15px;
    border: solid 1px rgb(236, 231, 231);
    border-radius: 5px;
}

.no-spots-owned {
    color: rgb(177, 142, 142);
    font-family: Arial;
    font-weight: bold;
    font-size: 10pt;
}