.spot-grid {
    display: flex;
    flex-wrap: wrap;
}

.page-bottom-buttons {
    display: flex;
    justify-content: center;
}

.github-div {
    display: flex;
    justify-content: center;
    margin-right: 2px;
}

.github-div:hover button {
    color: rgb(145, 91, 91);
}

.github {
    color: rgb(177, 142, 142);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 2px;
}

/* .page-bottom-text {
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 9pt;
    color: rgb(202, 167, 167);
    padding-bottom: 5px;
}

.tech-div {
    display: flex;
    justify-content: center;
}

.tech-div:hover button {
    color: rgb(145, 91, 91);
}

.tech {
    color: rgb(177, 142, 142);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 2px;
}

.tech-dropdown {
    color: rgb(202, 167, 167);
    font-family: Arial;
    font-size: 9pt;
    width: 400px; 
    height: 30px;
    display: block;
    left: 35%;
    position: absolute;
    padding: 1pt 5pt;
    margin: 2px;
    text-align: center;
    gap: 15px;
    border: solid 1px rgb(236, 231, 231);
    border-radius: 5px;
} */