.spot-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-between;
    width: 300px;
}

.spot-card {
    font-family: Arial;
    font-size: 11pt;
    width: fit-content;
    min-height: auto;
}