.individual-spot-card { 
    font-family: Arial;
    font-size: 11pt;
    color: rgb(177, 142, 142);
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 17px;
    width: fit-content;
    min-height: auto;
}

.img-div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 270px;
    height: 160px;
    border-radius: 10px;
}

.preview-image {
    background-size: cover;
    border-radius: 10px; 
    max-height: 200px; 
    max-width: 300px;
}

.spot-name {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.overall-div {
    display: flex;
    justify-content: center;
}

.buttons-div {
    display: flex;
    justify-content: center;
}

.button {
    color: rgb(177, 142, 142);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.buttons-div:hover button  {
    color: rgb(145, 91, 91);
}

.delete-overall-div {
    padding: 10px;
}

.pop-up {
    font-family: Arial;
    margin-left: 5px;
    margin-right: 5px;
}

.pop-up-button {
    margin: auto;
    display: flex;
    justify-content: center;
    color: rgb(177, 142, 142);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.pop-up-button-div {
    padding-bottom: 10px;
}

.pop-up-button-div:hover button {
    color: rgb(145, 91, 91);
}

.button-box {
    display: flex;
    justify-content: center;
}